{% extends 'base.html.twig' %}

{% block title %}Contient index{% endblock %}

{% block body %}
    <h1>Contient index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Quantite</th>
                <th>PrixTotal</th>
                <th>Achete</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contient in contients %}
            <tr>
                <td>{{ contient.id }}</td>
                <td>{{ contient.quantite }}</td>
                <td>{{ contient.prixTotal }}</td>
                <td>{{ contient.achete ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_contient_show', {'id': contient.id}) }}">show</a>
                    <a href="{{ path('app_contient_edit', {'id': contient.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_contient_new') }}">Create new</a>
{% endblock %}
